@page "/products/list"
@using ThumbezaTech.Leads.Web.Server.Features.Products;

@inject ISender Sender
@inject ProductState State

@*https://blazor.radzen.com/get-started*@

<section>
    <div class="container-fluid">
        <RadzenDataGrid @ref="DefaultGrid"
                        Data="@State.Items"
                        TItem="ProductVm"
                        AllowFiltering
                        AllowSorting
                        PageSize="10"
                        AllowPaging
                        PagerHorizontalAlign="HorizontalAlign.Left"
                        AllowGrouping
                        ShowPagingSummary>
            <Columns>
                <RadzenDataGridColumn TItem="ProductVm" Property="@nameof(ProductVm.Id)" Title="ID" />
                <RadzenDataGridColumn TItem="ProductVm" Property="@nameof(ProductVm.Name)" Title="Name" />
                <RadzenDataGridColumn TItem="ProductVm" Property="@nameof(ProductVm.Price)" Title="Price" />
                <RadzenDataGridColumn TItem="ProductVm" Property="@nameof(ProductVm.Sku)" Title="SKU" />

            </Columns>
        </RadzenDataGrid>
    </div>
</section>

@code
{
    RadzenDataGrid<ProductVm> DefaultGrid;

    protected override Task OnInitializedAsync()
    {
        return Task.WhenAll(
            base.OnInitializedAsync(),
            Sender.Send(new GetProductQuery(1, 10), CancellationToken.None)
        );
    }
}